.cmp-hero {
    position: relative;
    max-height: 25pc;
    overflow: hidden;
    margin: 1px
}

.cmp-hero .cmp-hero__image {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    width: 100%
}

.cmp-hero .cmp-hero__content {
    position: absolute;
    bottom: 140px;
    color: #fff;
    width: 70%;
    left: 15%;
    text-align: center
}

.cmp-hero .cmp-hero__content .cmp-hero__link a {
    color: #fff;
    border: 1px solid #fff;
    padding: 1em;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out
}

.cmp-hero .cmp-hero__content .cmp-hero__link:hover a {
    background-color: #ffea00;
    border: 1px solid #000;
    color: #000
}
